*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #dadada;
}
a{
    text-decoration: none;
    color:inherit;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.765);
    padding: 10px 20px;
    
}
.nav-country{
    display: flex;
    align-items: end;
   margin-left: 20px;
   font-size: 13px;
   color: black;

}
.nav-country img{
    color: aliceblue;
}
.nav-search{
    flex:1;
    display: flex;
    align-items: center;
    background-color:white;
    margin-left: 15px;
    max-width: 1000px;
    border-radius: 4px;
}
#transport{
  border: none;
  background-color:#D4D4D4;
  border: none;
  outline: none;
  width: 130px;

}
.nav-search-catagray{
    display: flex;
    align-items: center;
    background-color: #D4D4D4;
    padding: 10px 20px;
    gap: 5px;
    border-radius: 4px 0 0 4px;

}
.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}
.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: goldenrod;
    border-radius: 0 4px 4px 0;
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600px;
    margin-left:15px ;
}
#transport1{
    background-color: rgba(0, 0, 0, 0.765);
    font-size: 20px;
    font-weight: 10px;
    color: #D4D4D4;
    border: none;
    outline: none;
    width: 50px;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
.nav-text{
    margin-left: 15px;

}
.nav-text p{
    font-size: 10px;
}
.nav-text h1{
    font-size: 14px;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
h4{
    color: aliceblue;
}
.nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background-color: rgba(0, 0, 0, 0.548);
    color: aliceblue;
}
.nav-bottom div{
    display: flex;
    align-items: center;
    font-weight: 500px;
    gap: 5px;

}
.nav-bottom a{
    font-size: 20px;
    gap: 40px;
    
}
.header{
 width: 100%;
 height: 30vw;
 
}
.header img{
    width: 100%;
    height: 30vw;
    background-size: cover;
}
.content{
    width: 100%;
        height: 100%;
        position: absolute;
        top: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
}
.product1{
    width: 20%;
    height: 70%;
    overflow: hidden;
    
}
.product1 img{
    width: 100%;
    height: 50%;
    background-size: cover;
    transition: all ease 1.2s;
    
}
.product1:hover img{
    scale: 1.2;
}
.content1{
    width: 100%;
        height: 100%;
        position: absolute;
        top: 170%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
}
.product2{
    width: 20%;
    height: 70%;
    
    
}
.product2 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    
}

.content2{
    width: 100%;
        height: 100%;
        position: absolute;
        top: 255%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
}
.product3{
    width: 20%;
    height: 70%;
    background-color: aqua;
    border-radius: 4px solid black;
    
}
.product3 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.content3{
    width: 100%;
        height: 100%;
        position: absolute;
        top: 340%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
}
.product1{
    width: 20%;
    height: 70%;
    background-color: aqua;
    border-radius: 4px solid black;
    
}
.product1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.need{
    width: 100%;
        height: 100%;
        position: absolute;
        top: 435%;
        margin-left: 15vw; 
        
}
.need h1{
    color: black;

}
.need a{
    color: cadetblue;
}
.need a span{
    color: black;
}
.sign{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 480%; 
    margin-left: 20vw; 
}
.sign h1{
    color: black;
}
.sign button{
    background-color: yellow;
    color: black;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    transition: all ease 2s;

}
button:hover{
    background-color: yellowgreen;
    animation-delay: 2s;
}


.sign a span{
    color: cadetblue;
}
.sign1{
    margin-left: 20vw;
}
.back{
    width: 100%;
    height: 10vh;
    position: absolute;
    color: beige;
    font-size: 2vw;
    top: 525%; 
    background-color: #485769;
}
.back a{
    margin-left:40vw;
    font-size: 40px;
    font-weight: 20px;
}
.footer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 534%;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.footer1{
    font-size: 20px;
    font-weight: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #dadada;
}
.footer1 h1{
    font-size: 2vw;
}

